<div class="labels">
  <span [class.active]="selectedCategory === 'info'">Informatique</span>
  <input
    type="range"
    min="0"
    max="100"
    [value]="selectedCategory === 'info' ? 0 : 100"
    (input)="onSliderInput($event)"
    (change)="onSliderChange($event)"
    class="slider"
  />
  <span [class.active]="selectedCategory === 'escalade'">Escalade</span>
</div>


<div class="projets-list">
  <app-project-card
    *ngFor="let projet of projetsFiltres"
    [type]="projet.type"
    [titre]="projet.titre"
    [description]="projet.description">
  </app-project-card>
</div>
